body {
  margin: 0;
}

.background {
  position: relative;
  width: 393px;
  height: 852px;
  background: #d9d9d9;
}

button {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
}

button {
  height: 51px;
  width: 374px;
  border-radius: 10px;
  border: none;
  user-select: none;
  cursor: pointer;
}

.white_square {
  position: absolute;
  width: 375px;
  height: 658px;
  left: 9px;
  top: 34px;
  background: #fffdfd;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.ton_pic {
  position: absolute;
  top: 234px;
  left: 134px;
  filter: invert(100%);
}

.ton_work {
  color: black;
  position: absolute;
  width: 140px;
  height: 24px;
  top: 347px;
  left: 110px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
}

.text {
  text-align: center;
  position: absolute;
  width: 277px;
  height: 63px;
  user-select: none;
  font-size: 17px;
  font-family: Inter;
  font-weight: 400;
  top: 458px;
  left: 40px;
}

.create_profile {
  position: absolute;
  margin-left: 9px;
  margin-top: 723px;
  background: #000;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ton_wallet {
  position: absolute;
  left: 17px;
  margin-top: 780px;
  background: #d9d9d9;
  color: black;
}

/* Стили для темного режима */
.dark-mode .background {
  background-color: #000000;
  color: #fff;
}

.dark-mode .white_square {
  background-color: #1c1c1c;
}

.dark-mode .create_profile {
  background-color: white;
  color: black;
}

.dark-mode .ton_wallet {
  background-color: black;
  color: white;
}

.dark-mode .ton_pic {
  filter: invert(0%);
}

.dark-mode .ton_work {
  color: white;
}
